<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.forumMapper.ReviewMapper">
  <resultMap id="BaseResultMap" type="com.sc.forumEntity.Review">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="I_ID" jdbcType="DECIMAL" property="iId" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="TIME" jdbcType="TIMESTAMP" property="time" />
    <result column="P_ID" jdbcType="DECIMAL" property="pId" />
    <result column="F_ID" jdbcType="DECIMAL" property="fId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, I_ID, CONTENT, TIME, P_ID, F_ID
  </sql>
  <select id="selectByExample" parameterType="com.sc.forumEntity.ReviewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from REVIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sc.forumEntity.ReviewExample">
    delete from REVIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.forumEntity.Review">
    insert into REVIEW (ID, I_ID, CONTENT, 
      TIME, P_ID, F_ID)
    values (TEST_SEQ.nextval, #{iId,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR},
      #{time,jdbcType=TIMESTAMP}, #{pId,jdbcType=DECIMAL}, #{fId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.forumEntity.Review">
    insert into REVIEW
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="iId != null">
        I_ID,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="time != null">
        TIME,
      </if>
      <if test="pId != null">
        P_ID,
      </if>
      <if test="fId != null">
        F_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="iId != null">
        #{iId,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=DECIMAL},
      </if>
      <if test="fId != null">
        #{fId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.forumEntity.ReviewExample" resultType="java.lang.Long">
    select count(*) from REVIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update REVIEW
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.iId != null">
        I_ID = #{record.iId,jdbcType=DECIMAL},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        TIME = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pId != null">
        P_ID = #{record.pId,jdbcType=DECIMAL},
      </if>
      <if test="record.fId != null">
        F_ID = #{record.fId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update REVIEW
    set ID = #{record.id,jdbcType=DECIMAL},
      I_ID = #{record.iId,jdbcType=DECIMAL},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      TIME = #{record.time,jdbcType=TIMESTAMP},
      P_ID = #{record.pId,jdbcType=DECIMAL},
      F_ID = #{record.fId,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateReviewByArray">
    update REVIEW set F_ID=1 where ID in
    <foreach collection="list" item="r" open="(" close=")" separator=",">
      #{r.id}
    </foreach>
  </update>
  <select id="getReview" parameterType="java.lang.Long" resultType="com.sc.forumEntity.Review">
    select * from REVIEW where ID=#{reviewid}
  </select>
</mapper>