<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.FilesMapper">
  <resultMap id="BaseResultMap" type="com.sc.bean.Files">
    <id column="FID" jdbcType="DECIMAL" property="fid" />
    <result column="ADMINID" jdbcType="DECIMAL" property="adminid" />
    <result column="FNAME" jdbcType="VARCHAR" property="fname" />
    <result column="FURL" jdbcType="VARCHAR" property="furl" />
    <result column="FSHARES" jdbcType="CHAR" property="fshares" />
    <result column="FTIME" jdbcType="TIMESTAMP" property="ftime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FID, ADMINID, FNAME, FURL, FSHARES, FTIME
  </sql>
  <select id="selectByExample" parameterType="com.sc.bean.FilesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FILES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FILES
    where FID = #{fid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from FILES
    where FID = #{fid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.FilesExample">
    delete from FILES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.Files">
    insert into FILES (FID, ADMINID, FNAME, 
      FURL, FSHARES, FTIME
      )
    values (SEQ_FILES.nextval, #{adminid,jdbcType=DECIMAL}, #{fname,jdbcType=VARCHAR},
      #{furl,jdbcType=VARCHAR}, #{fshares,jdbcType=CHAR}, #{ftime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.Files">
    insert into FILES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        FID,
      </if>
      <if test="adminid != null">
        ADMINID,
      </if>
      <if test="fname != null">
        FNAME,
      </if>
      <if test="furl != null">
        FURL,
      </if>
      <if test="fshares != null">
        FSHARES,
      </if>
      <if test="ftime != null">
        FTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=DECIMAL},
      </if>
      <if test="adminid != null">
        #{adminid,jdbcType=DECIMAL},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="furl != null">
        #{furl,jdbcType=VARCHAR},
      </if>
      <if test="fshares != null">
        #{fshares,jdbcType=CHAR},
      </if>
      <if test="ftime != null">
        #{ftime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.FilesExample" resultType="java.lang.Long">
    select count(*) from FILES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update FILES
    <set>
      <if test="record.fid != null">
        FID = #{record.fid,jdbcType=DECIMAL},
      </if>
      <if test="record.adminid != null">
        ADMINID = #{record.adminid,jdbcType=DECIMAL},
      </if>
      <if test="record.fname != null">
        FNAME = #{record.fname,jdbcType=VARCHAR},
      </if>
      <if test="record.furl != null">
        FURL = #{record.furl,jdbcType=VARCHAR},
      </if>
      <if test="record.fshares != null">
        FSHARES = #{record.fshares,jdbcType=CHAR},
      </if>
      <if test="record.ftime != null">
        FTIME = #{record.ftime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update FILES
    set FID = #{record.fid,jdbcType=DECIMAL},
      ADMINID = #{record.adminid,jdbcType=DECIMAL},
      FNAME = #{record.fname,jdbcType=VARCHAR},
      FURL = #{record.furl,jdbcType=VARCHAR},
      FSHARES = #{record.fshares,jdbcType=CHAR},
      FTIME = #{record.ftime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.Files">
    update FILES
    <set>
      <if test="adminid != null">
        ADMINID = #{adminid,jdbcType=DECIMAL},
      </if>
      <if test="fname != null">
        FNAME = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="furl != null">
        FURL = #{furl,jdbcType=VARCHAR},
      </if>
      <if test="fshares != null">
        FSHARES = #{fshares,jdbcType=CHAR},
      </if>
      <if test="ftime != null">
        FTIME = #{ftime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FID = #{fid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.Files">
    update FILES
    set ADMINID = #{adminid,jdbcType=DECIMAL},
      FNAME = #{fname,jdbcType=VARCHAR},
      FURL = #{furl,jdbcType=VARCHAR},
      FSHARES = #{fshares,jdbcType=CHAR},
      FTIME = #{ftime,jdbcType=TIMESTAMP}
    where FID = #{fid,jdbcType=DECIMAL}
  </update>
  <resultMap id="fileadmin" type="com.sc.bean.Files">
    <id property="fid" column="fid"></id>
    <result property="adminid" column="adminid"></result>
    <result property="fname" column="fname"></result>
    <result property="furl" column="furl"></result>
    <result property="fshares" column="fshares"></result>
    <result property="ftime" column="ftime"></result>
    <association property="admin" javaType="com.sc.bean.Admin">
      <id property="id" column="id"></id>
      <result property="name" column="name"></result>
    </association>
  </resultMap>
  <select id="getMyAndShares" resultMap="fileadmin">
    select * from FILES f left join ADMIN a on f.ADMINID=a.ID where FSHARES=#{fshares} or ADMINID=#{adminid}
  </select>
</mapper>