<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.NoteclassMapper">
  <resultMap id="BaseResultMap" type="com.sc.bean.Noteclass">
    <id column="NCID" jdbcType="DECIMAL" property="ncid" />
    <result column="NCNAME" jdbcType="VARCHAR" property="ncname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    NCID, NCNAME
  </sql>
  <select id="selectByExample" parameterType="com.sc.bean.NoteclassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NOTECLASS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from NOTECLASS
    where NCID = #{ncid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from NOTECLASS
    where NCID = #{ncid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.bean.NoteclassExample">
    delete from NOTECLASS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.bean.Noteclass">
    insert into NOTECLASS (NCID, NCNAME)
    values (#{ncid,jdbcType=DECIMAL}, #{ncname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.bean.Noteclass">
    insert into NOTECLASS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ncid != null">
        NCID,
      </if>
      <if test="ncname != null">
        NCNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ncid != null">
        #{ncid,jdbcType=DECIMAL},
      </if>
      <if test="ncname != null">
        #{ncname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.bean.NoteclassExample" resultType="java.lang.Long">
    select count(*) from NOTECLASS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update NOTECLASS
    <set>
      <if test="record.ncid != null">
        NCID = #{record.ncid,jdbcType=DECIMAL},
      </if>
      <if test="record.ncname != null">
        NCNAME = #{record.ncname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update NOTECLASS
    set NCID = #{record.ncid,jdbcType=DECIMAL},
      NCNAME = #{record.ncname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.bean.Noteclass">
    update NOTECLASS
    <set>
      <if test="ncname != null">
        NCNAME = #{ncname,jdbcType=VARCHAR},
      </if>
    </set>
    where NCID = #{ncid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.bean.Noteclass">
    update NOTECLASS
    set NCNAME = #{ncname,jdbcType=VARCHAR}
    where NCID = #{ncid,jdbcType=DECIMAL}
  </update>
</mapper>